@font-face{
    font-family: "Lovely Home";
    src:local('Lovely Home'), 
    url('/src/Components/LovelyHome-9aBZ.ttf') format('truetype');

}

nav{
    padding: 5rem 1rem;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 15px; */
    color: #fff;
}

.logo h1 {
    margin: 0;
    font-size: 50px;
    color: #351458;
    font-family: "Lovely Home";
    font-weight: bold;
}

.logo h1:hover {
    color: black;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav a {
    color: grey;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    margin: 0 7px 0 7px;
    padding: 10px;
}

.nav a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: black;
    transition: width 0.3s ease;
}

.nav a:hover::after {
    width: 100%;
}
